{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "implicit-arrow-linebreak": "warn",
    "operator-linebreak": "warn",
    "class-methods-use-this": "off",
    "linebreak-style": "off"
  }
}
